<launch>
  <arg name="scan_topic"  default="/scan" />
  <arg name="base_frame"  default="base_link"/>
  <arg name="odom_frame"  default="odom"/>
  <arg name="marker_size" default="19" />
  <arg name="max_new_marker_error" default="0.08" />
  <arg name="max_track_error" default="0.2" />
  <arg name="cam_image_topic" default="/camera/rgb/image_color" />
  <arg name="cam_info_topic" default="/camera/rgb/camera_info" />
  <arg name="output_frame" default="/camera_rgb_optical_frame" />
  <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" />

  <node pkg="tb_slam" type="turtle_slam_singleids.py" name="slam" output="screen">
    <param name="ignore_id" value="False"/>
    <param name="target_frame" value="/map"/>
    <param name="odom_frame" value="/odom"/>
    <param name="body_frame" value="/base_link"/>
    <!-- Expected precision of wheel displacement measurement (in meter) -->
    <param name="position_uncertainty" value="0.01"/>
    <param name="angular_uncertainty" value="0.01"/>
    <!-- Expected precision of ar_tag localisation (in meter) -->
    <param name="ar_precision" value="0.10"/>
    <!-- Initial value of X,Y,Theta -->
    <param name="initial_x" value="0.0"/>
    <param name="initial_y" value="0.0"/>
    <param name="initial_theta" value="0.0"/>
  </node>

  <!--<node pkg="ar_slam" type="turtle_slam_angle.py" name="slam" output="screen">-->
    <!--<param name="ignore_id" value="False"/>-->
    <!--<param name="target_frame" value="/map"/>-->
    <!--<param name="odom_frame" value="/odom"/>-->
    <!--<param name="body_frame" value="/base_link"/>-->
    <!--&lt;!&ndash; Expected precision of wheel displacement measurement (in meter) &ndash;&gt;-->
    <!--<param name="position_uncertainty" value="0.01"/>-->
    <!--<param name="angular_uncertainty" value="0.01"/>-->
    <!--&lt;!&ndash; Expected precision of ar_tag localisation (in meter) &ndash;&gt;-->
    <!--<param name="ar_precision" value="0.10"/>-->
    <!--&lt;!&ndash; Initial value of X,Y,Theta &ndash;&gt;-->
    <!--<param name="initial_x" value="0.0"/>-->
    <!--<param name="initial_y" value="0.0"/>-->
    <!--<param name="initial_theta" value="0.0"/>-->
  <!--</node>-->

  <!-- path exporting node -->
  <node respawn="true" pkg="ar_slam" type="PathExporter.py" name="pathexport" >
  </node>


  <node pkg="costmap_2d" type="costmap_2d_node" name="costmap" output="screen">
    <rosparam file="$(find turtlebot_navigation)/param/costmap_common_params.yaml" command="load" ns="costmap/obstacle_layer" />
    <param name="costmap/global_frame" value="/map"/>
    <param name="costmap/robot_base_frame" value="/base_link"/>
    <param name="costmap/update_frequency" value="3"/>
    <param name="costmap/publish_frequency" value="3"/>
    <param name="costmap/static_map" value="false"/>
    <param name="costmap/rolling_window" value="false"/>
    <param name="costmap/obstacle_layer/raytrace_range" value="5"/>
    <!--<param name="costmap/width" value="60"/>-->
    <!--<param name="costmap/height" value="60"/>-->
    <!--<param name="costmap/resolution" value="0.05"/>-->
    <param name="transform_tolerance" value="0.5"/>
    <param name="costmap/publish_voxel_grid" value="true"/>
    <!--<param name="costmap/origin_x" value="-10"/>-->
    <!--<param name="costmap/origin_y" value="-40"/>-->
    <param name="costmap/unknown_cost_value" value="-1"/>
    <param name="costmap/track_unknown_space" value="true"/>
    <param name="costmap/always_send_full_costmap" value="true"/>
    <param name="costmap/robot_radius" value="0.20"/>
    <param name="costmap/footprint" value="[[0.2,0.2],[0.2,-0.2],[-0.2,-0.2],[-0.2,0.2]]"/>
    <param name="costmap/width" value="40"/>
    <param name="costmap/height" value="40"/>
    <param name="costmap/origin_x" value="-20"/>
    <param name="costmap/origin_y" value="-20"/>
    <param name="costmap/resolution" value="0.3"/>
    <param name="costmap/obstacle_layer/observation_sources" value="klaser"/>
    <param name="costmap/obstacle_layer/track_unknown_space" value="true"/>
    <param name="costmap/obstacle_layer/unknown_cost_value" value="-1"/>
    <param name="costmap/obstacle_layer/klaser/topic" value="/scan"/>
    <param name="costmap/obstacle_layer/klaser/data_type" value="LaserScan"/>
    <param name="costmap/obstacle_layer/klaser/clearing" value="true"/>
    <param name="costmap/obstacle_layer/klaser/marking" value="true"/>
    <param name="costmap/obstacle_layer/klaser/obstacle_range" value="5.0"/>
    <param name="costmap/obstacle_layer/klaser/raytrace_range" value="5.0"/>

  </node>

</launch>
