<launch>

    <node pkg="laserscan_to_pc2" type="laserscan_to_pc2" name="lstopc2" output="screen">
    launch-prefix="xterm -e gdb --args"
    <param name="base_frame" value="/base_link" />

    <remap from="~laser" to="/scan"/>
    <remap from="~scan" to="/scanpc"/>
</node>


    <node pkg="occgrid_planner" type="occgrid_planner_b" name="planner" output="screen">
      launch-prefix="xterm -e gdb --args">
      <param name="neighbourhood" value="8"/>
    <param name="base_frame" value="/base_link"/>
    <param name="debug" value="False"/>
        <param name="robot_radius" value="0.6" />
    <remap from="/planner/occ_grid" to="/costmap/costmap/costmap"/>
    <remap from="/planner/goal" to="/move_base_simple/goal"/> <!--TODO: verifier ce remap -->
  </node>


  <node pkg="occgrid_planner" type="path_optimizer_b" name="path_optimizer" output="screen">
      launch-prefix="xterm -e gdb --args">
      <param name="max_acceleration" value="0.1"/>
      <param name="max_braking" value="0.1"/>
      <param name="velocity" value="0.45"/>
      <remap from="/path_optimizer/path" to="/planner/path"/>
  </node>

  <node pkg="occgrid_planner" type="path_follower_b" name="path_follower" output="screen">
      launch-prefix="xterm -e gdb --args">
      <param name="Kx" value="0.5"/>
      <param name="Ky" value="0.5"/>
      <param name="Ktheta" value="1.0"/>
      <param name="max_rot_speed" value="0.42"/>
      <param name="max_velocity" value="0.4"/>
      <param name="max_y_error" value="1.0"/>
      <param name="look_ahead" value="1.0"/>
      <param name="base_link" value="/base_link"/>
      <remap from="/path_follower/traj" to="/path_optimizer/trajectory"/>
      <remap from="/path_follower/twistCommand" to="/obstacle_avoidance/command_velocity"/>
  </node>

    <node pkg="obstacle_avoidance" type="obstacle_avoidance" name="obstacle_avoidance" output="screen">
    launch-prefix="xterm -e gdb --args">
    <param name="base_frame" value="/base_link" />
    <param name="max_range" value="2.0" />
    <param name="max_linear_velocity" value="0.4" />
    <param name="max_angular_velocity" value="0.42" />
    <param name="max_linear_accel" value="0.5" />
    <param name="max_angular_accel" value="0.8" />
    <param name="map_resolution" value="0.1" />
    <param name="linear_velocity_resolution" value="0.05" />
    <param name="angular_velocity_resolution" value="0.05" />
    <param name="robot_radius" value="0.5" />
    <param name="time_horizon" value="4.0" />
    <param name="k_v" value="5.0" />
    <param name="k_w" value="1.0" />

    <remap from="/obstacle_avoidance/scans" to="/scanpc"/>
    <remap from="/obstacle_avoidance/current_velocity" to="/mobile_base/commands/velocity"/>
    <remap from="/obstacle_avoidance/command_velocity" to="/obstacle_avoidance/command_velocity"/> -->
    <remap from="/obstacle_avoidance/output_velocity" to="/cmd_vel_mux/input/navi"/> -->
</node>

</launch>
