<launch>

    <!-- Instantiate your teleoperation node here -->

  <node pkg="collision_avoidance_base" type="collision_avoidance_base" name="coll_avoid" output="screen">
      launch-prefix="xterm -e gdb --args"
      <param name="radius" value="1.0" />

      <remap from="~scans" to="/vrep/hokuyoSensor"/>
      <remap from="~cmd_vel" to="/teleop/cmd_vel"/>
      <remap from="~output_vel" to="/vrep/twistCommand"/> -->
  </node>

</launch>
