<launch>
  <arg name="scan_topic"  default="scan" />
  <arg name="base_frame"  default="base_footprint"/>
  <arg name="odom_frame"  default="odom"/>

  <!-- joy node -->
  <node respawn="true" pkg="joy" type="joy_node" name="joy" >
    <!-- <param name="dev" type="string" value="/dev/input/js0" /> -->
    <!-- <param name="deadzone" value="0.12" /> -->
    <param name="autorepeat_rate" value="10.0" />
  </node>

  <!-- Axes -->
  <node pkg="vrep_ros_teleop" type="teleop.py" name="teleop">
    <param name="axis_linear_x" value="1" type="int"/>
    <param name="axis_angular" value="0" type="int"/>
    <param name="scale_linear" value="1.0" type="double"/>
    <param name="scale_angular" value="1.0" type="double"/>
    <remap from="/teleop/joy" to="/joy"/>
    <remap from="/teleop/twistCommand" to="/vrep/twistCommand"/>
  </node>

  <node pkg="differential_drive" type="diff_tf.py" name="diff_tf">
    <param name="ticks_meter" value="50"/>
    <param name="base_width" value="0.25"/>
    <param name="base_frame_id" value="rosControlledBubbleRob"/>
    <param name="odom_frame_id" value="odometry"/>

    <remap from="lwheel" to="/vrep/leftWheelEncoder"/>
    <remap from="rwheel" to="/vrep/rightWheelEncoder"/>
  </node>

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="base_frame" value="rosControlledBubbleRob"/>
    <param name="odom_frame" value="odometry"/>
    <param name="map_update_interval" value="5.0"/>
    <param name="maxUrange" value="6.0"/>
    <param name="maxRange" value="8.0"/>
    <param name="sigma" value="0.05"/>
    <param name="kernelSize" value="1"/>
    <param name="lstep" value="0.05"/>
    <param name="astep" value="0.05"/>
    <param name="iterations" value="5"/>
    <param name="lsigma" value="0.075"/>
    <param name="ogain" value="3.0"/>
    <param name="lskip" value="0"/>
    <param name="minimumScore" value="0"/>
    <param name="srr" value="0.01"/>
    <param name="srt" value="0.02"/>
    <param name="str" value="0.01"/>
    <param name="stt" value="0.02"/>
    <param name="linearUpdate" value="0.5"/>
    <param name="angularUpdate" value="0.436"/>
    <param name="temporalUpdate" value="-1.0"/>
    <param name="resampleThreshold" value="0.5"/>
    <param name="particles" value="200"/>
    <param name="xmin" value="-100.0"/>
    <param name="ymin" value="-100.0"/>
    <param name="xmax" value="100.0"/>
    <param name="ymax" value="100.0"/>

    <param name="delta" value="0.05"/>
    <param name="llsamplerange" value="0.01"/>
    <param name="llsamplestep" value="0.01"/>
    <param name="lasamplerange" value="0.005"/>
    <param name="lasamplestep" value="0.005"/>
    <remap from="scan" to="/vrep/hokuyoSensor"/>
    <remap from="tf" to="/tf"/>
  </node>
</launch>
